@import-normalize;

@import "helper";

* {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

*::before {
	box-sizing: border-box;
}

*::after {
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: #f5f5f5;
	line-height: 1.2;
	font-family: $font-hei;
	font-size: 16px;
}

button {
	font-family: inherit;
}

:focus {
	outline: none;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.oneLine {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
